<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Product</title>
</head>

<body>

<h2>Edit Product</h2>

<form th:action="@{/products/{id}(id=${product.id})}" th:object="${product}" method="post">

    Name:
    <input type="text" th:field="*{name}" />
    <br><br>

    Price:
    <input type="number" th:field="*{price}" />
    <br><br>

    Quantity:
    <input type="number" th:field="*{quantity}" />
    <br><br>

    <button type="submit">Update Product</button>

</form>

</body>
</html>